body{
    font-family:Arial;
    line-height: 50px;
    }
    .opmaak {
    background-color: darkorchid;
    color:white;
    margin:50px;
    padding:15px;
    width:150px;
    height:150px;
    border:5px solid black;
    text-align:center;
display: inline;

    }
    hr{
    margin-top:50px;
    }