<form (ngSubmit)="addKlant(f,naam,voornaam, postcode,plaats,straat)" #f="ngForm">
    <div class="form-group">
        <label>Naam</label>
        <input type="text" class="form-control" name="naam" ngModel required #naam="ngModel">
    </div>
    <div class="form-group">
        <label>voornaam</label>
        <input type="text" class="form-control" name="voornaam" ngModel required #voornaam="ngModel">
    </div>
    <div class="form-group">
        <label>postcode</label>
        <input type="text" class="form-control" name="postcode" ngModel required #postcode="ngModel">
    </div>
    <div class="form-group">
        <label>plaats</label>
        <input type="text" class="form-control" name="plaats" ngModel required #plaats="ngModel">
    </div>
    <div class="form-group">
        <label>straat</label>
        <input type="text" class="form-control" name="straat" ngModel required #straat="ngModel">
    </div>
    <button type="submit" class="btn btn-success">Aanmaken</button>
</form>