<h1>Movie App</h1>
<form>
    <div class="form-row">
        <div class="col"> <input type="text" class="form-control" id="search" [(ngModel)]="search" name="search"
                placeholder="Movie, serie, ..."></div>
        <div class="col"><button class="btn btn-black-white" (click)="SearchMovies()">Search</button></div>


    </div>
</form>

<div class="card-colums p-3 d-flex flex-wrap">
    <!-- <app-movies *ngFor="let movie of movielist" [movie]="movie"></app-movies> -->
    <div *ngFor="let movie of movielist" class="card m-2" style="width: 18rem;">
        <img class="card-img-top" src="{{movie.Poster}}">
        <div class="card-body">
            <h5 class="card-title">Title: {{movie.Title}}</h5>
            <p class="card-text">Year: {{movie.Year}}</p>
            <button type="button" class="btn btn-black-white" data-toggle="modal" data-target="#exampleModal"
                (click)="getPlot(movie)">Plot</button>

        </div>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Plot</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{selectedMovie.Plot}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>