table{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
    padding: 15px;
}
td{
    padding: 5px;
    border: 1px solid #dee2e6;
}