.figuur{
    width: 100px;
    height: 100px;
    position: relative;
    }
    .cirkel{
        border-radius: 50%;
        background-color: black;
        
    }
    .rechthoek{
        border-radius: 5%;
        background-color: orange;
        top: -150px;
    }
    .ronderand{
        border-radius: 20%;
        background-color: blue;
        left: 50px;
        top: -50px;
    }
.background{
    width: 500px;
    height: 500px;
    background-color: lightgrey;
}