body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    position: relative;
}
#captain {
    position: absolute;
}