<div class="d-flex justify-content-end my-3">
    <button (click)="newMedewerker()" class="btn btn-success">+ Medewerker aanmaken</button>
</div>
<div class="list-group">
    <div *ngFor="let mw of medewerkers">
        <div class="list-group-item list-group-item-action d-flex">
            <div class="col-10">
                Naam: {{mw.naam}}
                Email: {{mw.email}}<br>
                Id: {{mw.id}}<br>
                <button class="btn btn-primary" (click)="verwijderMedewerker(mw.id)">Verwijderen</button>
            </div>
            <div class="col-2">
                <img class="img-fluid rounded-circle" src="{{mw.afbeelding}}" />
            </div>
        </div>
    </div>
</div>