div{
    color: white;
}
#zwart{
    background-color: black;
}
#rood{
    background-color: red;
}
#groen{
    background-color: green;
}
#blauw{
background-color: blue;
}
#wit{
    background-color: white;
    color: black;
}
