/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: 600;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
    font-weight: 600;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-t {
  border-top: 1px solid black;
}
.border-bot {
    border-bottom: 1px solid black;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom CSS
-------------------------------------------------- */
body,.sidebar {
    background-color: white;
}
.navbar-blue {
    background-color: #37008f;
}
.mainUser {
    background-color: #01c9b7;
    /*background-color: #aacc00;*/
}
    .mainUser:hover {
        background-color: #0ca698;
        /*background-color: #aacc00;*/
    }
.careUser {
    background-color: #fcd200;
}
    .careUser:hover {
        background-color: #e0a800;
    }
.mainUser a, .careUser a{
    color: black;
    font-weight:600;
}

/*BUTTON PRIMARY*/
.btn-primary {
    background-color: #37008f;
    border-color: #37008f;
}
    .btn-primary:hover {
        background-color: #2a026b;
        border-color: #2a026b;
    }
    .btn-primary:focus, .btn-primary.focus {
        background-color: #37008f;
        border-color: #37008f;
    }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        background-color: #2a026b;
        border-color: #2a026b;
    }

        .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(55, 0, 143, 0.5);
        }

/*#219EBC  Reserve blauw*/

/*BUTTON SUCCES*/
.btn-success {
    background-color: #01c9b7;
    border-color: #01c9b7;
}
    .btn-success:hover {
        background-color: #0ca698;
        border-color: #0ca698;
    }
    .btn-success:focus, .btn-success.focus {
        background-color: #01c9b7;
    }
    .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
    .show > .btn-success.dropdown-toggle {
        background-color: #0ca698;
        border-color: #01c9b7;
    }
        .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
        .show > .btn-success.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(1, 201, 183, 0.5);
        }
/*BUTTON WARNING*/
.btn-warning {
    background-color: #fcd200;
    border-color: #fcd200;
}
/*    .btn-warning:hover {
        background-color: #fcd200;
        border-color: #fcd200;
    }*/


/*BUTTON DANGER*/
.btn-danger {
    background-color: #f84337;
    border-color: #f84337;
}
/*    .btn-danger:hover {
        background-color: #f84337;
        border-color: #f84337;
    }*/